[Unit]
Description=Face Trigger - Real-time face recognition
StartLimitIntervalSec=3
[Service]
Type=simple
Restart=always
RestartSec=1
User=aws_cam
ExecStart=/home/aws_cam/lambda_test/bin/python2.7 /home/aws_cam/lambda_test/face-trigger-lambda/face-trigger-lambda/webcam_facerec.py

[Install]
WantedBy=multi-user.target
