[Unit]
Description=Face Trigger - Real-time face recognition
StartLimitIntervalSec=3
[Service]
Type=simple
Restart=always
RestartSec=1
User=aws_cam
ExecStart=

[Install]
WantedBy=multi-user.target